<div class="banner">
  <div class="container">
    <h1 class="banner-title">Make your favourite cocktails at home!</h1>
  </div>
</div>

<p class="text-center pt-4"><%= link_to "Add your favourite cocktail!", new_cocktail_path, class: "btn btn-success py-3 px-5" %></p>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-12 col-md-3">
        <%= link_to cocktail_path(cocktail) do %></p>
        <div class="card">
          <%= cl_image_tag cocktail.photo, class:"card-img-top" %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= cocktail.name %></h5>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>

